<!DOCTYPE html>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Liu+Jian+Mao+Cao&family=Raleway&family=Roboto&family=Roboto+Mono&family=Shizuru&family=Varela+Round&family=Zhi+Mang+Xing&display=swap" rel="stylesheet">

<script>
  (function(d) {
    var config = {
      kitId: 'qsn1njx',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hello world!</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- import the webpage's javascript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
  </head>
 <body>
 
  
	<header class="header"> 
    
<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:monospace;
  font-size:20px;
}

li a:hover:not(.active) {
  background-color: white;
}

.active {
  background-color: white;
}
</style>
</head>
<body>

<ul>
 

  <li><a href="{{ url_for('lab') }}">interaction lab</a></li>

  <li><a href="https://www.behance.net/gallery/114936021/Voice-a-safety-app">portfoilo</a></li>

  <li style="float:right"><a class="active" href="{{ url_for('index') }}">home</a></li>
  
</ul>

</body>
</html>



     </header>
   
<main> 
<button class="button" type="button" data-hover="Kelly Peng" data-active="I'M ACTIVE"><span>彭天怡</span></button>
 </main>
   
<!-- <footer>
   <div class="wrapper">
    <div class="typing-demo">
      This is Kelly peng.I am a student, an artist, and a designer.
    </div>
</div>
   </footer> -->
    
  </body>
</html>
