<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Liu+Jian+Mao+Cao&family=Raleway&family=Roboto&family=Roboto+Mono&family=Shizuru&family=Varela+Round&family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
<html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Shizuru&family=Varela+Round&display=swap" rel="stylesheet">
 
  <head>
<link rel="stylesheet" href="nav.css">
</head>
<body class="homepage">
  
  </body>
 
</html>
 <!-- image -->
   <div class="img">
       <ul>
      <figure>
        <li><img src="https://cdn.glitch.global/df3701ea-db8c-41da-bafe-bed9ebf7f047/6e14d5d5-54f1-3eb1-39c3-2fe3f5543b41.gif?v=1645157998893" /></li>
  </figure>
           </ul>
<!-- nav -->
<div class="nav">
    <ul>
       <li><a href="/lab.html">core 2 interaction lab </a></li>
        </ul>
  </div>
          <div class="studio">
            <ul>
      <li><a href="/studio.html">core 2 interaction studio </a></li>
              </ul>
  </div>
      
                <div class="about">
                  <ul>
      <li><a href="about.html">About </a></li>
                     </ul>
  </div>
                <div class="portfoilo">
                  <ul>
      <li><a href="/portfoilo.html">portfoilo </a></li>
            </ul>
  </div>


<div class="intro">
    
   <body>
   <li><a href="/intro.html"><p>
     Faye Arranz<br>
Zein Bdeir<br>
Noah Farjani<br>
Hina Fernstrom<br>
Elliana Hau<br>
Lok Yin Jasmine Kan<br>
Claudia Kok<br>
Chenxiao Li<br>
Beatriz Lozano<br>
Rand Rivera<br>
Junyong Park<br>
Lex Samuels<br>
Hajin Son<br>
Xin-Yi Yu<br>
Jinyi Zhang
    </p></a></li>
      
  </body>

 </div> 
    
    